<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, label: 'اسم المستخدم', required: true, autofocus: true %>
    <%= f.input :age label: 'العمر' %>
    <%= f.input :gender label: 'الجنس' %>
    <%= f.input :bio label: 'النبذة الشخصية ' %>


    <%= f.input :email, label: 'البريد', required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, label: 'كلمة المرور',
                hint: "اتركه إلم ترد تغييره",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, label: 'تأكيد الرقم السري',
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password, label: 'كلمة المرور الحالية',
                hint: "نحتاج كلمة مرورك الحالية لتأكيد التغييرات",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "تحديث" %>
  </div>
<% end %>

<h3>حذف الحساب</h3>

<p>غير سعيد? <%= link_to "حذف الحساب", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "الرجوع", :back %>
